<h1>Playing Game with <%= @game.player %></h1>

<div style="display:flex;">
  <% @game.word.split("").each do |word| %>
    <button>X</button>
  <% end %>


  <form method="PATCH" action="/games/<%= @game.id %>">
    <label for="guess">
      <input name="guess" id="guess" maxlength="1" required />
      <input type="submit"/>
    </label>
  </form>
</div>

<a href="/games/new">New Game</a>
